<section class="chat">
	<div class="chat__messages" id="chat_<%= game.id %>">
		<% game.chat_messages.each do |message| %>
			<p class="chat__message">
				<span><%= message.author %></span>
				<span><%= message.message %></span>
			</p>
		<% end %>
	</div>
	<%= form_with model: [game, ChatMessage.new] do |f| %>
		<%= f.text_field :message, class: "chat__input" %>
		<%= f.submit "Send" %>
	<% end %>
</section>