<section class="chat" data-controller="chat">
	<div class="chat__messages" id="chat_<%= game.id %>">
		<% game.chat_messages.each do |message| %>
			<p class="chat__message">
				<span class="chat__author" style="background-color: <%= message.author_color %>;"><%= message.author %></span>
				<span><%= sanitize(message.message) %></span>
			</p>
		<% end %>
	</div>
	<%= form_with model: [game, ChatMessage.new], class: "chat__form" do |f| %>
		<%= f.text_field :message, class: "chat__input" %>
		<%= f.submit "Send", class: "chat__button" %>
	<% end %>
</section>



