<ul class="navigation__list" data-controller="navigation-nested-menu">
	<li class="navigation__close">&times;</li>
	<li><%= link_to "Главная", root_path, class: "navigation__link" %></li>
	<li class="navigation__nested_menu">
		<span class="navigation__link">Начать</span>
		<div>
			<%= link_to "Случайная", create_random_games_path, class: "navigation__link", data: {turbo_method: :post} %>
			<%= link_to "Сюжет", stories_games_path, class: "navigation__link" %>
			<%= link_to "Тест", lessons_games_path, class: "navigation__link" %>
			<%= link_to "Ожидающие", games_path, class: "navigation__link" %>
		</div>
	</li>
	<li><%= link_to "Видеопросмотр", create_video_games_path, class: "navigation__link", data: {turbo_method: :post} %></li>
	<li><%= link_to "Рейтинг", rating_path, class: "navigation__link" %></li>
	<li class="navigation__nested_menu">
		<span class="navigation__link">Редактор</span>
		<div>
			<%= link_to "Создать сюжет", editor_new_story_path, class: "navigation__link" %>
			<%= link_to "Создать тест", editor_new_lesson_path, class: "navigation__link" %>
		</div>
	</li>
	<li><%= link_to "Мои проекты", projects_path, class: "navigation__link" %></li>
</ul>



