<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "navigation" %>
	</nav>
	<%= render partial: "shared/footer" %>
</aside>

<main class="editor" style="color: white;">
	<h1 class="editor__title">Создание сюжета</h1>

	<div class="editor__content" data-controller="editor">
		<%= form_with url: editor_create_story_path, local: true, class: "editor__form" do |form| %>
			<%= form.hidden_field :user_id, value: current_user.id %>

			<div class="editor__form_title">
				<%= form.label "data[name]", "Название" %>
				<%= form.text_field "data[name]", placeholder: "Название сюжета" %>
			</div>

			<ul class="editor__list">
				<li>
					<h3>Вопрос</h3>

					<%= form.label "data[questions][][coordinates][]", "Координаты:" %>
					<div>
						<%= form.text_field "data[questions][][coordinates][]", placeholder: "Lat" %>
						<%= form.text_field "data[questions][][coordinates][]", placeholder: "Long" %>
					</div>

					<%= form.label "data[questions][][question]", "Вопрос" %>
					<%= form.text_field "data[questions][][question]", placeholder: "Вопрос" %>

					<%= form.label "data[questions][][answer]", "Ответ" %>
					<%= form.text_field "data[questions][][answer]", placeholder: "Ответ" %>

					<%= form.label "data[questions][][options][]", "Список всех вариантов ответа (обязательно включая правильный):" %>
					<div class="editor__options">
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<button type="button" class="editor__plus_btn">Добавить вариант ответа</button>
					</div>
				</li>
				<li>
					<h3>Вопрос</h3>

					<%= form.label "data[questions][][coordinates][]", "Координаты:" %>
					<div>
						<%= form.text_field "data[questions][][coordinates][]", placeholder: "Lat" %>
						<%= form.text_field "data[questions][][coordinates][]", placeholder: "Long" %>
					</div>

					<%= form.label "data[questions][][question]", "Вопрос" %>
					<%= form.text_field "data[questions][][question]", placeholder: "Вопрос" %>

					<%= form.label "data[questions][][answer]", "Ответ" %>
					<%= form.text_field "data[questions][][answer]", placeholder: "Ответ" %>

					<%= form.label "data[questions][][options][]", "Список всех вариантов ответа (обязательно включая правильный):" %>
					<div class="editor__options">
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<%= form.text_field "data[questions][][options][]", placeholder: "Вариант ответа" %>
						<button type="button" class="editor__plus_btn">Добавить вариант ответа</button>
					</div>
				</li>
			</ul>

			<div class="editor__controls">
				<button type="button" class="editor__plus_btn">Добавить вопрос</button>
				<%= form.submit "Сохранить", data: { turbo_confirm: "Вы уверены, что хотите отправить форму?" } %>
			</div>
		<% end %>

	</div>

</main>

<%= render partial: "shared/header" %>


