<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "shared/navigation" %>
	</nav>
	<%= render partial: "shared/footer" %>
</aside>

<main class="rating" style="color: white;">
	<h1 class="rating__title">Рейтинг</h1>

	<div class="rating__content">
		<table>
			<thead>
				<tr>
					<th>Игрок</th>
					<th>Процент правильных ответов</th>
					<th>Всего сыграно игр</th>
					<th>Рейтинг</th>
				</tr>
			</thead>
			<tbody>
				<% @games.each do |game| %>
					<tr>
						<td><%= game.user.short_email %></td>
						<td><%= game.accuracy %>%</td>
						<td><%= game.game_count %></td>
						<td><%= game.rating %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>



</main>

<%= render partial: "shared/header" %>

