<h2>game: <%= game.id %></h2>
<div>Создатель: <%= game.creator %></div>
<div>Тип игры: <%= game.game_type %></div>
<div id="players_quantity_game_<%= game.id %>">Количество участников: <%= game.users.count %></div>
<div>Приватность: открытая</div>
<div>
	<%# <span>пароль:</span>
	<input type="password"> %>
</div>
<%= link_to "Присоединиться", add_player_game_path(game), class: "button_regular", data: {turbo_method: :patch} %>