<%= turbo_stream_from "lobby_#{@game.id}" %>

<%= render partial: "shared/left_sidebar" %>

<main class="lobby" data-controller="lobby game-observer" id="meta">
	<meta data-game-id="<%= @game.id %>">
	<meta data-player-id="<%= @game_player.id %>">

	<h1 class="lobby__title">Lobby <%= @game.id %></h1>
	<section class="lobby__content">
		<h2>Участники:</h2>
		<ul id="lobby_members">
			<% @game.users.each do |user| %>
				<li><%= user.short_email %></li>
			<% end %>
		</ul>
		<div class="lobby__timer"></div>
		<% if @creator %>
			<%= link_to "Начать", update_game_phase_game_path(@game), class: "button_regular", id: "lobby_start_button", data: {turbo_method: :patch} %>
		<% end %>
		<h2>phase: <%= @game.phase %></h2>
	</section>	
</main>

<%= render partial: "shared/right_sidebar", locals: { game: @game } %>



