<%= turbo_stream_from "lobby_#{@game.id}" %>

<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "navigation" %>
	</nav>
	<%= render partial: "shared/footer" %>
</aside>

<main class="lobby" data-controller="lobby" id="meta">
	<h1 class="lobby__title">Lobby <%= @game.id %></h1>
	<section class="lobby__content">
		<h2>Участники:</h2>
		<ul id="lobby_members">
			<% @game.users.each do |user| %>
				<li><%= user.short_email %></li>
			<% end %>
		</ul>
		<div class="lobby__timer"></div>
		<% if @creator %>
			<%= link_to "Начать", update_game_phase_game_path(@game), class: "button_regular", id: "lobby_start_button", data: {turbo_method: :patch} %>
		<% end %>
		<h2>phase: <%= @game.phase %></h2>
	</section>	
</main>

<aside class="right_sidebar">
	<%= render partial: "shared/header" %>
	<%= render partial: "shared/chat", locals: { game: @game } %>
</aside>


