<%= turbo_stream_from "game_#{@game.id}" %>

<aside class="left_sidebar">
	<%= link_to "Главная", root_path, class: "navigation__link" %>
	<%= render partial: "game_info", locals: { game: @game } %>
	<%= render partial: "shared/footer" %>
</aside>

<main class="game" data-controller="game_observer">
	<div class="game__title">
		<h1><%= @game.name %></h1>
		<p id="game_current_step">вопрос <span><%= @game.current_step %></span> из <span><%= @game.steps %></span></p>
	</div>
	<section class="game__content" data-controller="panorama" 
						data-api-key="<%= ENV["GOOGLE_MAPS_API_KEY"] %>" 
						data-server-url="<%= ENV["SERVER_URL"] %>" 
						id="game_content">
		<meta data-game-id="<%= @game.id %>">
		<meta data-player-id="<%= @game_player.id %>">
		<meta data-game-coords="<%= @game.current_coordinates.as_json %>" id="game_coords">
		<div class="game__panorama"></div>
		<% if @game.game_type == "Story" %>
			<div class="game__question" id="game_question"><%= @game.current_question.question %></div>
		<% end %>
		<div class="game__controls">
			<ul class="game__options" id="game_options">
				<% if @game.game_type == "Story" %>
					<% @game.current_question.options.each do |option| %>
						<li class="game__option"><%= option %></li>
					<% end %>
				<% else %>
					<% @game.current_streets.each do |street| %>
						<li class="game__option"><%= street %></li>
					<% end %>
				<% end %>
			</ul>
			<button class="button_regular" id="game_ready_button">Готов</button>
		</div>
	</section>
</main>

<aside class="right_sidebar">
	<%= render partial: "shared/header" %>
	<%= render partial: "shared/youtube_player" %>
	<%= render partial: "shared/chat", locals: { game: @game } %>
</aside>
