<%= turbo_stream_from "game_#{@game.id}" %>

<aside class="left_sidebar">
	<nav class="navigation">
		<%= render partial: "navigation" %>
	</nav>
	<%= render partial: "game_info", locals: { game: @game } %>
	<%= render partial: "shared/footer" %>
</aside>

<main class="game" data-controller="game_observer">
	<div class="game__title">
		<h1><%= @game.name %></h1>
		<p id="game_current_step">вопрос <span><%= @game.current_step %></span> из <span><%= @game.steps %></span></p>
	</div>
	<section class="game__content" data-controller="lesson" 
						data-server-url="<%= ENV["SERVER_URL"] %>" 
						id="game_content">
		<meta data-game-id="<%= @game.id %>">
		<meta data-player-id="<%= @game_player.id %>">
		<div class="game__image">
			<%= image_tag "class_eval_vs_instance_eval.png" %>
		</div>
		<div class="game__question" id="game_question">
			<%= @game.lesson_state["question"] %>
		</div>
		<div class="game__controls">
			<ul class="game__options" id="game_options">
				<% @game.lesson_state["options"].each do |option| %>
					<li class="game__option" data-option-id="<%= option[0] %>">
						<%= option[1] %>
					</li>
				<% end %>
			</ul>
			<button class="button_regular" id="game_ready_button">Готов</button>
		</div>
	</section>
</main>

<aside class="right_sidebar">
	<%= render partial: "shared/header" %>
	<%= render partial: "shared/chat", locals: { game: @game } %>
</aside>
