<%= turbo_stream_from "game_#{@game.id}" %>

<%= render partial: "shared/left_sidebar", locals: { game: @game } %>

<main class="game" data-controller="game-observer">
	<div class="game__title">
		<h1><%= @game.name %></h1>
	</div>
	<section class="game__content" 
						data-server-url="<%= ENV["SERVER_URL"] %>" 
						id="game_content">
		<meta data-game-id="<%= @game.id %>">
		<meta data-player-id="<%= @game_player.id %>">
		<div class="game__panorama" style="height: 100%;">
			<%= render partial: "shared/youtube_player", locals: { height: "100%" } %>
		</div>
	</section>
</main>

<%= render partial: "shared/right_sidebar", locals: { game: @game } %>

